@import '_variable';
@import '_animation';
@font-face {
    font-family: 'HunInn';
    src: url("https://cdn.jsdelivr.net/gh/marsnow/open-huninn-font@1.1/font/jf-openhuninn.eot"); /* IE9 Compat Modes */
    src: url("https://cdn.jsdelivr.net/gh/marsnow/open-huninn-font@1.1/font/jf-openhuninn.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("https://cdn.jsdelivr.net/gh/marsnow/open-huninn-font@1.1/font/jf-openhuninn.woff") format("woff"), /* Modern Browsers */
    url("https://cdn.jsdelivr.net/gh/marsnow/open-huninn-font@1.1/font/jf-openhuninn.ttf") format("truetype"), /* Safari, Android, iOS */
    url("https://cdn.jsdelivr.net/gh/marsnow/open-huninn-font@1.1/font/jf-openhuninn.svg#SealmemoryHeader") format("svg"); /* Legacy iOS */
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'HunInn';
    background-color: #E7E3DE;
} 
nav{
    height:100vh;
    margin:0;
    // 海浪動畫
    // #ocean{
    //     position:absolute;
    //     width:100%;
    //     min-height:100%;
    //     background-image:linear-gradient(linear,left bottom,left top,
    //     color-stop(0, #ABA29A),color-stop(0.50, #8d8177));
    // }
    @include phone{
        height: 30vh;
    }
    .prompt-win{
        width: 100px;
        height: 100px;
        float: left;
        background-color: rgba(255, 255, 255, 0.5);
        border-radius: 100%;
        box-shadow:0 0 5px 4px white ;
        font-size: 18px;
        color: rgb(94, 90, 87);
        line-height: 100px;
        text-align: center;
        position: absolute;
        bottom: 50%;
        left: 58%;
        animation-name: jump;
        animation-duration: 0.5s;
        animation-iteration-count: infinite;
        @include pad{
            display: none;
        }
    }

    .wave{
        width:10px;
        height:60%;
        background:#ADA299;
        display:inline-block;
        animation: {
            name:dostuff;duration:4s;iteration-count: infinite;
        };
        transition-timing-function: ease-in-out;
        position:absolute;
        z-index: -1;
    }
    // 主按鈕：聯絡我們
    .chatBox{
        width: 30%;
        height: 20%;
        background-color: #bdb5af;
        border-radius: 20px;
        box-shadow: 8px 5px 5px rgb(62, 64, 65);
        filter:opacity(0.6);
        display: none;
        z-index: 20;
        position: absolute;
        top: 65%;
        right: 8%;
        @include phone{
            top: 0;
            width: 150px;
            height: 100px;
        }
        .connect-btn{
            width: 50%;
            height:30%;
            font-size: 35px;
            line-height: 60px;
            text-align: center;
            border-radius: 30px;
            background-color: #ffffff;
            margin: auto;  
            cursor: pointer;
            a{
                text-decoration: none;
                color: #b09585;
            }
            @include notebook{
                font-size: 24px;
                line-height: 50px;
            }
            @include phone{
                font-size: 15px;
                line-height: 30px;
            }
        }
        p{  
            font-size: 40px;
            color: #fff;
            line-height: 1px;
            text-align: center;
            @include phone{
                font-size: 24px;
            }
        }
        .close{
            font-size: 24px;
            color: black;
            text-decoration: none;
            padding: 40px 20px;
            cursor: pointer;
        }
        &.active{
            display: block;
        }
        &:nth-child(1){
            top: 20%;
            right: 0;
        }       
        // 企業轉型
        &:nth-child(2){
            top: 30%;
            right: 10%;
            @include phone{
                top: 10%;
                right: 5%;
            }
        }
        // 商品展示 
        
        &:nth-child(3){
            top: 1%;
            right: 20%; 
            @include phone{
                top: 0;
                right: 0;
            }  
        }
         // 市場差異化
        &:nth-child(4){
            top: 1%;
            left: 10%;
            @include phone{
                top: 10%;
                left: 5%;
            }
        }
        // 人物誌
        &:nth-child(5){
            top: 65%;
            left: 15%;
            @include phone{
                top: 20%;
                left: 35%;
            }
        }
         // 企業轉型
         &:nth-child(6){
            top: 30%;
            left: 5%;
            @include phone{
                top: 0;
                left: 8%;
            }
        }
    }
}

// SVG關閉整個外層材質避免選取到
.all{
    display: none;
}
.tower{
    opacity: 1;
    cursor: pointer;
    &:hover{
        opacity: 0;
        transition:all 5s -5s;
    }
}

main{
    .container{
        h5{
            font-size: 48px;
            color: rgb(99, 88, 76);
            line-height: 85px;
            text-align: center;
            @include phone{
                font-size: 24px;
                line-height: 40px;
            }  
        }
        .banner{
            width: 100%;
            height: 100vh;
            // 製作斜線漸層
            background: linear-gradient(25deg, #D7D5CF 50%,transparent 50%) center center/100% 100%,#E8E3DD right center / auto 100%;
            position: relative;
            display: flex; 
            .floating-windows{
                width: 600px;
                height: 300px;
                background-color: rgba(12, 12, 12, 0.3);
                border-radius: 30px;
                box-shadow:10px 10px 20px rgb(80, 75, 75) ;
                margin-top: 600px;
                margin-left: 20px;
                overflow:hidden;
                text-overflow: ellipsis;
                opacity: 0;
                @include pad{
                    height: 600px;
                } 
                @include phone{
                    margin-top:unset ;
                    margin-top: 400px;
                    width: 500px;
                    height: 300px;
                } 
                span{
                    font-size: 18px;
                    font-weight: bolder;
                    padding:20px;
                    cursor: pointer;
                }
                h2{
                    text-align: center;
                    color: rgb(99, 88, 76);
                    @include phone{
                        font-size: 36px;
                        writing-mode:vertical-rl;margin-top: 20px;  
                        padding-left: 10px;
                    }  
                }
                p{
                    font-size: 20px;
                    color: #ffffff;
                    padding: 0 20px;
                    @include pad{
                        
                    } 
                    @include phone{
                        opacity: 0;
                    } 
                }
                &:nth-child(3){
                    margin-top: 100px;
                    margin-right: 20px;
                    animation-duration: 4s;
                    animation-delay: unset;
                }
            }
            .circle{
                width: 600px;
                height: 600px;
                margin: auto;
                position: relative;
                background: {
                    image: url("/TimeEmpire/index/img/Earyh-all.png");size: contain;position: center;repeat: no-repeat;
                };
                animation: {
                    name: move;duration: 3s;iteration-count: infinite;direction: alternate-reverse;
                };  
                .point{
                    width: 10px;
                    height: 10px;
                    background-color: rgba(150, 141, 141, 0.2);
                    border: 2px solid white;
                    border-radius: 100%;
                    position: absolute;
                    animation-name: scale;
                    animation-duration: 2s;
                    animation-iteration-count: infinite;
                    cursor: pointer;
                    &:nth-child(1){
                        bottom: 0%;
                        left: 60%;
                    }
                    &:nth-child(2){
                        top: 0%;
                        left: 40%;
                    }
                }
            }
        }
    }
}
.product{
    width: 100%;
    height: 100%;
    .container{
        width: 100%;
        height: auto;
        background-color: #D8D5CE;
        background-image:
          linear-gradient(
            to right, 
            #D8D5CE,
            #D8D5CE 50%,
            #877F7C 0%,
            #877F7C 0%,
            #D8D5CE 50.1%
          );
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        overflow: hidden;
        @include pad{
            background-image: unset;
        }
        h1{
            font-size: 35px; 
            color: white; 
            @include phone{
                font-size: 24px;
                text-align: start;
            } 
        }
        h3{
            font-size: 23px;
            line-height: 50px;
            letter-spacing: 2px;
            color: #B09585; 
            @include phone{
            font-size: 18px;
            line-height: 28px;
            letter-spacing: 2px;
            text-align: start;
            }
        }
        .cardbox{
            &:nth-child(1){order: 1;}
            &:nth-child(2){order: 2;}
            &:nth-child(3){order: 4;}
            &:nth-child(4){
                order: 3;
                text-align: end;
            }
            &:nth-child(5){order: 5;}
            &:nth-child(6){order: 6;}
            &:nth-child(7){order: 8;}
            &:nth-child(8){
                order: 7;
                text-align: end;
            }
            width: 45%;
            height: 350px;
            margin: 50px 30px;
            overflow: hidden;
            &:nth-child(2n-1){
                text-align: center;
                background-image: url("https://p85.p2.n0.cdn.getcloudapp.com/items/WnuJ7m84/column.gif");    
            }
            @include pad {
                &:nth-child(1){order: 2;}
                &:nth-child(2){order: 1;text-align: center;}
                &:nth-child(3){order: 4;}
                &:nth-child(4){order: 3;text-align: center;}
                &:nth-child(5){order: 6;}
                &:nth-child(6){order: 5;text-align: center;}
                &:nth-child(7){order: 8;}
                &:nth-child(8){order: 7;text-align: center;}
                width: 100%;
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;
                padding: 0 50px; 
                ;            
            }  
        } 
    } 
}
.icon{
    width: 100%;
    height: 200px;
    background-color: #D7D5CF;
    background-image: url("/TimeEmpire/index/img/littleCastle.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.project-feature{
    height: auto;
    .container{
        width: 100%;
        height: 100%;
        background-color: #D8D5CE;
        position: relative;
        .swipper{
            width: 100%;
            height: 100vh;
            display: flex;
            flex-wrap: wrap;
            clip-path: polygon(0 0,100% 40%,100% 100%,0% 60%);
            &:nth-child(2){
               position: absolute; 
               top: 60%;
            @include smallpad{
                position: unset;
            } 
            }
            @include pad{
                padding-top: 100px;
                clip-path: none;
            } 
            @include smallpad{
                height: auto;
            } 
            .photo{
                width: 50%;
                height: 100%;
                background-color: rgb(255, 255, 255);   
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
                display: flex;
                align-items: center;
                justify-content: center;
                &:nth-child(1){
                    @include phone{
                        padding-top: 500px;
                    }
                }
                &:nth-child(2){
                    background-position:left 0 bottom 25%;
                    @include phone{
                    padding-top: 500px;
                    background-position:left 0 bottom 60%;
                    }
                    h2{
                        margin-top: 400px;
                        @include notebook{
                            margin-top: unset;
                        } 
                        @include phone{
                            font-size: 24px;
                            color: rgb(0, 0, 0);
                            opacity: 1;
                            text-align: start;
                            line-height: 40px;
                        }
                    }
                }
                @include pad{
                    width: 48%;
                    height: 50%;
                    margin-left: 10px;
                    margin-right: 10px;
                } 
                @include smallpad{
                    width: 90%;
                    height: 50%;
                    margin: auto;
                } 
                @include smallpad{
                   margin-bottom: 20px;
                }          
                h2{
                    font-size: 36px;
                    text-align: center;
                    line-height: 100px;
                    opacity: 0;
                    color: rgb(255, 255, 255);
                    margin-bottom: 200px;
                    @include notebook{
                        margin-bottom: unset;
                        margin-top: unset;
                    } 
                    @include pad{
                        margin-top: unset;
                    } 
                    @include smallpad{
                        margin-top: unset;
                        margin-top: 30px;
                    } 
                    @include phone{
                        font-size: 24px;
                        color: rgb(0, 0, 0);
                        opacity: 1;
                        text-align: start;
                        line-height: 40px;
                        
                    }
                }
                &:hover{
                    filter: brightness(0.6);
                }
                &:hover h2{
                    opacity: 1;
                    transition: 0.3s;
                    background: rgba(0,0,0,.5);
                    width: 100%;
                }
            }
        }
        .down-swipper{
            .photo{
                background-position:left 0 top 25%;
                &:nth-child(2){
                    background-position:left 0 bottom 30%;
                    @include phone{
                        background-position:left 0 bottom 60%;
                    }
                }
                

            }
        }
        
    }
}
.social-recommand{
    width: 100%;
    height: 80vh;
    @include phone{
        height: auto; 
        padding-top: 50px;
    }
}

.start_use{
    width: 100%;
    height: 100%;
    .ig-content{
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: space-around;
        @include notebook{
            height: 200vh;
            flex-wrap: wrap;
            justify-content: unset;
        }
        @include pad{
            height: 500vh;  
        } 
        @include phone{
            height: auto;  
        } 
        .ig-text{
            width: 25%;
            height: 50%;
                @include notebook{
                    width: 50%;
                } 
                @include pad{
                    width: 80%; 
                    height: 20%;
                    margin: auto;
                }    
                @include phone{
                    margin-top: 20px;
                } 
            img{
                width: 95%;
            } 
        }    
    }
    .container{
        width: 100%;
        height: 100vh;
        background-color: rgb(255, 255, 255);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction:column;
        flex-wrap: wrap;
        position: relative; 
        h1{
            text-align: center;
            font-size: 60px;
            color: #ADA299;
            @media screen and(max-width:600px) {
                font-size: 36px;      
            }  
        }
        h3{
            text-align: center;
            font-size: 36px;
            @media screen and(max-width:600px) {
                font-size: 24px;      
            }  
        }
        .btn_area{
            display: flex;
            justify-content: center;
            width: 100%;
            @media screen and(max-width:600px) {
                flex-wrap: wrap;     
            }  
            .btn{
                width: 300px;
                height: 50px;
                line-height: 50px;
                border-color: #ADA299;
                border-radius: 0;
                border: 2px solid ;
                border-radius: 0;
                color: #ABA29A;
                position: relative;
                overflow: hidden;
                z-index: 1;
                transition: color 150ms ease-in-out;
                font-size: 36px;
                text-align: center;
                cursor: pointer;
                &:after {
                  content: '';
                  position: absolute;
                  display: block;
                  top: 0;
                  left: 50%;
                  transform: translateX(-50%);
                  width: 0;
                  height: 100%;
                  background: #ADA299;
                  z-index: -1;
                  transition: width 150ms ease-in-out;
                }
                &:hover {
                  color: #fff;
                  &:after {
                    width: 110%;
                  }
                }
              }
        }
    } 
}
footer{
    width: 100%;
    height: 300px;
    background-color: #ADA299;
    color: white;
    display: flex;
    align-items: center;
    @include phone{
        height: 600px;
        flex-direction: column;
    }
    .googlemap{
        @include phone{
            width: 100%;
        }
    }
    ul{
        font-size: 18px;
        line-height: 50px;
        li{
            list-style: none;
            .fab{
                color: white;
                font-size: 24px;
                margin: 10px;
                text-decoration: none; 
            }
        }
    }
}